@import url('_global.css');

.timer {
  color: transparent;
}

.cloze {
  color: var(--blue);
}

.cloze {
  font-weight: 700;
}

.clozefield {
  padding: 0 1em 1em;
}

#extra {
  color: var(--blue);
  padding: 0 1em 1em 0;
}
