@import url('_syntax.css');

:root {
  --blue: #3c97f9;
  --green: hsl(144, 66%, 55%);
}

body {
  color: hsl(180, 10%, 15%) !important;
}

.night_mode kbd {
  color: #a9adaf !important;
  background-color: #2f2f31 !important;
}
:root[class*='night-mode'] {
  --blue: hsl(201, 55%, 58%);
  --green: hsl(144, 26%, 55%);
}

body[class*='night_mode'] {
  color: hsl(180, 10%, 90%) !important;
}

* {
  box-sizing: border-box;
}

/* Desktop */
html {
  font-size: 24px;
}
/* Mobile */
.mobile {
  font-size: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qa {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

#qa > * {
  margin: 0 auto;
  width: 100%;
  max-width: 30rem;
}

.card,
kbd {
  font-family: Arial Greek, Arial;
}

b {
  font-weight: 700;
}

kbd {
  color: hsl(180, 1%, 5%) !important;
  background-color: #f0f0f0 !important;
  height: auto !important;
  line-height: auto !important;
  font-weight: normal;
  font-size: 0.6rem !important;
  text-shadow: none !important;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem !important;
  border-radius: 999px !important;
  box-shadow: none !important;
  background-color: hsla(217, 17%, 21%, 0.1);
}

#tags-container {
  width: auto !important;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  min-width: 0;
}

a {
  text-decoration: underline;
}
