.mobile #tags-container {
  display: none;
}
#pic,
.timer {
  display: block;
}
.mnemonics {
  text-align: left;
}
.ipad #extra,
.ipad .card,
.mobile,
html {
  font-size: 28px;
}
.ipad .hints {
  font-size: 24px;
}
.ipad #additional,
.ipad #firstaid,
.ipad #physeo,
.ipad #pixorize,
.ipad #sketchy {
  font-size: 20px !important;
}
.hints {
  font-size: 0.85rem;
}
.card,
kbd {
  font-family: Arial Greek, Arial;
}
img {
  max-height: none;
}
#bnb img,
#extra img,
#lecture img,
#missed img,
#pathoma img {
  max-width: 85%;
}
#additional img,
#firstaid img,
#physeo img,
#pixorize img,
#sketchy img {
  max-width: 60%;
}
.card {
  color: #000;
  background-color: #d1cfce;
}
#tags-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0.5px;
  width: 100%;
  line-height: 0.45rem;
}
.timer {
  color: transparent;
}
.cloze,
a[href="#"] {
  color: #00f;
}
#extra {
  color: navy;
}
.hints {
  color: #4297f9;
}
#missed {
  color: red;
}
#missed a[href="#"],
.nightMode #missed a[href="#"],
.night_mode #missed a[href="#"] {
  color: red !important;
}
.nightMode.card,
.night_mode .card {
  color: snow !important;
  background-color: #272828 !important;
}
.nightMode .cloze,
.nightMode a[href="#"],
.night_mode .cloze,
.night_mode a[href="#"] {
  color: #4297f9 !important;
}
.nightMode #extra,
.night_mode #extra {
  color: #7ab899;
}
.nightMode .hints,
.night_mode .hints {
  color: #0ff;
}
b,
i,
u {
  color: inherit;
}
#qa,
html {
  display: flex;
  flex-direction: column;
}
html {
  min-height: 100%;
}
#qa {
  margin: auto;
  max-width: 40rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  height: 100%;
  justify-content: center;
}
.timer {
  font-size: 20px;
  text-align: center;
  margin: 12em auto auto;
}
.mobile .card {
  padding-bottom: 5em;
  margin: 0 0.3px;
  --w: 100% !important;
}
.mobile #additional img,
.mobile #bnb img,
.mobile #extra img,
.mobile #firstaid img,
.mobile #lecture img,
.mobile #missed img,
.mobile #pathoma img,
.mobile #physeo img,
.mobile #pixorize,
.mobile #sketchy img,
.mobile .card img {
  max-width: 100% !important;
}
#extra img {
  min-width: 30%;
}
.image40 img {
  width: 40% !important;
}
.image50 img {
  width: 50% !important;
}
.image60 img {
  width: 60% !important;
}
.image70 img {
  width: 70% !important;
}
.image80 img {
  width: 80% !important;
}
.image90 img {
  width: 90% !important;
}
.image40 img,
.image50 img,
.image60 img,
.image70 img,
.image80 img,
.image90 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.mobile .image40 img,
.mobile .image50 img,
.mobile .image60 img,
.mobile .image70 img,
.mobile .image80 img,
.mobile .image90 img {
  width: auto !important;
}
.card {
  --w: 0%;
}
.card [class^="ui-"] img {
  max-width: 100% !important;
}
.resizer {
  min-width: 0% !important;
}
.mobile .resizer {
  min-width: 100% !important;
}
#bnb img:active,
#extra img:active,
#lecture img:active,
#missed img:active,
#pathoma img:active {
  transform: scale(1.2);
}
#additional img:active,
#firstaid img:active,
#physeo img:active,
#pixorize img:active,
#sketchy img:active {
  transform: scale(1.5);
}
.mobile #additional img:active,
.mobile #bnb img:active,
.mobile #extra img:active,
.mobile #firstaid img:active,
.mobile #lecture img:active,
.mobile #missed img:active,
.mobile #pathoma img:active,
.mobile #physeo img:active,
.mobile #pixorize img:active,
.mobile #sketchy img:active {
  transform: scale(1);
}
.cloze,
b,
kbd {
  font-weight: 700;
}
.clozefield {
  display: block;
  margin: auto;
  max-width: 60rem;
  padding: 0 1em 1em;
}
a[href="#"] {
  padding: 0 !important;
  text-decoration: underline;
}
#extra,
.hints,
a[href="#"] {
  font-style: italic;
}
.hints + #extra {
  margin-top: 1rem;
}
#extra {
  font-size: 1rem;
  margin: auto;
  max-width: 60rem;
  padding: 0 1em 1em;
}
.qtip img {
  max-width: 95% !important;
  max-height: 95% !important;
}
#pic {
  opacity: 0;
  font-size: 16px;
  color: #f2e48e;
  font-family: Comic Sans !important;
  font-style: bold;
}
#pic:hover,
kbd:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.mobile #pic {
  display: none;
}
kbd {
  display: inline-block;
  letter-spacing: 0.1px;
  font-size: 10px !important;
  text-shadow: none !important;
  padding: 0.05rem 0.1rem !important;
  margin: 1px -3px !important;
  border-radius: 4px;
  border-width: 1.5px !important;
  border-style: solid;
  background-color: transparent !important;
  box-shadow: none !important;
  opacity: 0.5;
  vertical-align: middle !important;
  line-height: auto !important;
  height: auto !important;
}
kbd:nth-of-type(n + 0) {
  border-color: #f44336;
  color: #f44336 !important;
}
kbd:nth-of-type(2n + 0) {
  border-color: #9c27b0;
  color: #9c27b0 !important;
}
kbd:nth-of-type(3n + 0) {
  border-color: #3f51b5;
  color: #3f51b5 !important;
}
kbd:nth-of-type(4n + 0) {
  border-color: #03a9f4;
  color: #03a9f4 !important;
}
kbd:nth-of-type(5n + 0) {
  border-color: #009688;
  color: #009688 !important;
}
kbd:nth-of-type(6n + 0) {
  border-color: #c0ca33;
  color: #c0ca33 !important;
}
kbd:nth-of-type(7n + 0) {
  border-color: #ff9800;
  color: #ff9800 !important;
}
kbd:nth-of-type(8n + 0) {
  border-color: #ff5722;
  color: #ff5722 !important;
}
kbd:nth-of-type(9n + 0) {
  border-color: #9e9e9e;
  color: #9e9e9e !important;
}
kbd:nth-of-type(10n + 0) {
  border-color: #607d8b;
  color: #607d8b !important;
}
.mobile kbd {
  opacity: 0.9;
  margin: 1px !important;
  display: inline-block;
  font-size: 10px !important;
}
.mobile #tags-container {
  line-height: 0.6rem;
  margin-left: 0;
}
