kbd {
  color: hsl(180, 1%, 5%) !important;
  background-color: #f0f0f0 !important;
}
:root {
  --blue: #3c97f9;
  --green: hsl(144, 66%, 55%);
}

body {
  color: hsl(180, 10%, 15%) !important;
}

.night_mode kbd {
  color: #a9adaf !important;
  background-color: #2f2f31 !important;
}
:root[class*='night-mode'] {
  --blue: hsl(201, 55%, 58%);
  --green: hsl(144, 26%, 55%);
}

body[class*='night_mode'] {
  color: hsl(180, 10%, 90%) !important;
}

* {
  box-sizing: border-box;
}

/* Desktop */
html {
  font-size: 24px;
}
/* Mobile */
.mobile {
  font-size: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#qa > div {
  display: block;
  margin: auto;
  max-width: 36rem;
}

.card,
kbd {
  font-family: Arial Greek, Arial;
}

b {
  font-weight: 700;
}

kbd {
  height: auto !important;
  line-height: auto !important;
  font-weight: normal;
  font-size: 0.5rem !important;
  text-shadow: none !important;
  padding: 0.3rem !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

a {
  text-decoration: underline;
}
